<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd"
             xmlns:beans="http://www.springframework.org/schema/beans">
	
	<http security="none" pattern="public"/>

    <http auto-config="true" use-expressions="true">
    	<intercept-url pattern="/" access="permitAll"></intercept-url>
        <intercept-url pattern="/login" access="permitAll"></intercept-url>
        <intercept-url pattern="/admin_area" access="hasAuthority('Administrator')"></intercept-url>
        <intercept-url pattern="/data_variation" access="hasAuthority('Administrator')"></intercept-url>
        <intercept-url pattern="/issue_book" access="hasAuthority('Administrator')"></intercept-url>
        <intercept-url pattern="/take_book" access="hasAuthority('Administrator')"></intercept-url>
        <intercept-url pattern="/director_area" access="hasAuthority('Director')"></intercept-url>
        <intercept-url pattern="/pageAutor" access="hasAuthority('Administrator')"></intercept-url>

        <form-login login-page="/login"
                    authentication-success-handler-ref="customAuthenticationSuccessHandler"
                    username-parameter="j_username"
                    password-parameter="j_password"
                    login-processing-url="/j_spring_security_check"
                    authentication-failure-url="/login?error=true"
        />
        
        <logout logout-success-url="/login" logout-url="/j_spring_security_logout" invalidate-session="true"/>
        <csrf disabled="true"/>
    </http>

    <beans:import resource="applicationContext.xml"/>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userDetailsService"/>
    </authentication-manager>

    <beans:bean id="userDetailsService" class="com.nixsolutions.spring.model.service.impl.CustomUserDetailsService">
    </beans:bean>
    
    <beans:bean id="customAuthenticationSuccessHandler"
                class="com.nixsolutions.spring.model.service.impl.CustomAuthenticationSuccessHandler"/>
             
</beans:beans>